body {
 margin: 0;
 font-family: 'Space Mono', 'bebas-neue-by-fontfabric', 'droid-sans-mono', monospace;
 overflow-x: hidden;
 background-color: #121212;
 color: #f9f8f8;
}

* {
 box-sizing: border-box;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 monospace;
}

a {
 text-decoration: none;
}

.ClearSearchbar::-webkit-scrollbar {
 display: none !important;
}

.faqOpenQuestion {
 display: block !important;
}

.ClearSearchbar {
 -ms-overflow-style: none;
 /*scrollbar-width: none;*/
 width: 100vw !important;
}

/* Revert booking calendar icon color*/
::-webkit-calendar-picker-indicator {
 filter: invert(1);
}
